body {
    margin-top: 200px;
    background-color: #fff;
    font-family: arial, sans-serif;
    font-size: 13px;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    padding-top: 20px;
}

header a {
    color: #000;
    opacity: 0.75;
    padding-left: 15px;
}

footer {
    width: 100%;
    background-color: #f2f2f2;
    position: fixed;
    bottom: 0;
    border-top: 1px solid #e4e4e4;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.left {
    float: left;
}

.right {
    float: right;
}

.search-container {
    width: 500px;
    margin: 0 auto;
}

.search-container img {
    margin: 0 auto;
    display: block;
}