body {
    margin-top: 200px;
    background-color: #fff;
}

header {
    position: fixed;
    top: 0;
    width: 100%
}

footer {
    width: 100%;
    background-color: #f2f2f2;
    position: fixed;
    bottom: 0;
    border-top: 1px solid #e4e4e4;
}

.left {
    float: left;
}

.right {
    float: right;
}

.search-container {
    width: 500px;
    margin: 0 auto;
}

.search-container img {
    margin: 0 auto;
    display: block;
}